<div id="wrapper">
           <div class="sense">
                <article id="pageBody">
        
                    <div class="point_box">
                    <div class="box">
                    <div class="txt">
                    <p>下記の質問に答えてみてください。あなたにぴったりの場所がわかります!</p>
                    </div>
                    </div>
                    </div>
        
        
                    <ul class="qalist wf-mplus1p">
        
                    <li id="1" class="question">
                        <a name="#1"></a>
                        <div class="qbox"><span  class="q">Q.</span>施設費用などの遊ぶ費用は1000円以内がいいですか?(交通費除く)</div>
                        <div class="qabox">
                            <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">はい</div></a>
                            <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">いいえ</div></a>
                        </div>
                    </li>
                    <li id="2" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>どんな場所で遊びたいですか?</div>
                        <div class="qabox">
                            <a href="#4" onclick="show(4)" class="qabtn"><div class="btnBox btnBox_y">23区内で</div></a>
                            <a href="#5" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_n">23区外で</div></a>
                        </div>
                    </li>
                    <li id="3" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>どんな場所で遊びたいですか?</div>
                        <div class="qabox">
                            <a href="#6" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_y">23区内で</div></a>
                            <a href="#7" onclick="show(7)" class="qabtn"><div class="btnBox btnBox_n">23区外で</div></a>
                        </div>
                    </li>

                    <li id="4" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#8" onclick="show(8)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#9" onclick="show(9)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="5" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#10" onclick="show(10)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#11" onclick="show(11)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="6" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#12" onclick="show(12)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#13" onclick="show(13)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="7" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#14" onclick="show(14)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#15" onclick="show(15)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>

                    <li id="8" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#16" onclick="show(16)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#17" onclick="show(17)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="9" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#18" onclick="show(18)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#19" onclick="show(19)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="10" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#20" onclick="show(20)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#21" onclick="show(21)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="11" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#22" onclick="show(22)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#23" onclick="show(23)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="12" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#24" onclick="show(24)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#25" onclick="show(25)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="13" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#26" onclick="show(26)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#27" onclick="show(27)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="14" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#28" onclick="show(28)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#29" onclick="show(29)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="15" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#30" onclick="show(30)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#31" onclick="show(31)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>

                    </ul>
        
                    <div class="answerList">
        
                        
                        </div><div id="16" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『国立科学博物館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'hakubutukan.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>障害者手帳をお持ちの方、原子爆弾被爆者の方、戦傷病者の方及びそれらの方々１名につき、介護者1名は無料</p>
                                <p>上野に位置する国立博物館は、日本の歴史や文化を豊富に展示する素晴らしい場所です。博物館は日本の最も重要な歴史的遺産の一つであり、その魅力は多岐にわたります。
                                <br>
                                日本の歴史や美術、考古学に関する膨大なコレクションを保有しており、展示は定期的に入れ替わるため、訪れるたびに新しい発見があります。古代から現代にかけての展示品は、日本の多様性や変遷を垣間見ることができ、見学者に深い感動を与えてくれます。
                                <br>
                                博物館の建物自体も美しく、歴史的な雰囲気を醸し出しています。伝統的な日本建築の要素が調和し、建物内部にはモダンな展示スペースが配置されています。訪れる人々は、日本の伝統と現代の融合を感じながら歩くことができます。
                                <br>
                                また、上野の美しい公園に囲まれているため、博物館周辺も散策する価値があります。特に桜の季節には、公園内で花見を楽しむことができ、博物館と自然の調和が素晴らしい雰囲気を醸し出します。
                                <br>
                                国立博物館は教育的なプログラムやイベントも充実しており、家族連れや学生、歴史や文化に興味を持つ全ての人々にとって魅力的な場所となっています。歴史の奥深さや日本の文化に触れる機会を求める方にとって、国立博物館は訪れる価値がある場所の一つです。</p>
                                <p><a href="https://www.kahaku.go.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="17" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『品川水族館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'sinagawa.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>手帳のご提示でご本人様とお付添1名様を減免料金として一般料金の半額</p>
                                <p>しながわ水族館は、東京湾に面した東京湾アクアライン沿いに位置する、都心からアクセスしやすい水族館です。その魅力は、多彩な展示とプログラム、そして幅広い年齢層に楽しんでいただける施設にあります。
                                <br>
                                まず、しながわ水族館の最大の特徴は、その巨大な水槽と迫力満点のショーです。館内には、東京湾の海底を再現した大規模な水槽があり、サメや大型の魚たちが自然な姿で泳ぐ様子は圧巻です。特に、透明なトンネルをくぐる「海中トンネル」は、まるで海の中にいるかのような臨場感を楽しむことができます。
                                <br>
                                また、さまざまな生態系をテーマにしたエリアもあり、海の生き物たちの生態や環境について学びながら楽しむことができます。特に子供たちに人気なのが、手を触れることができる「タッチプール」で、クラゲやヒトデなどに触れ合うことで、海の生き物とのふれあいを体験できます。
                                <br>
                                さらに、しながわ水族館では定期的にイベントやショーも開催されており、季節ごとに変わるテーマに沿ったプログラムも楽しめます。家族連れやカップル、友達同士で訪れることができ、観光だけでなく学びの場としても利用できるのが魅力です。
                                <br>
                                水族館内には飲食店やお土産ショップもあり、休憩しながらゆっくりと鑑賞することができます。さらに、東京湾アクアラインを使ってアクセスが便利なため、観光のついでに立ち寄りやすいのもポイントです。
                                <br>
                                総じて、しながわ水族館は多彩な展示とプログラム、アクセスの良さから、海の生態や生き物たちと触れ合いながら楽しむことができる素晴らしい施設です。家族や友達と一日を楽しむのに最適な場所と言えるでしょう。
                                </p>
                                <p><a href="https://www.aquarium.gr.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="18" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『科学技術館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'kagakukan.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>身体障害者手帳などをお持ちの方には割引制度あり</p>
                                <p>東京都千代田区に位置する科学技術館は、そのユニークで魅力的な展示とプログラムで、訪れる人々を魅了している施設です。
                                <br>
                                まず、科学技術館の最大の特徴は、先端技術の最先端を体験できることです。展示物は、最新のロボット工学、人工知能、宇宙科学など、様々な分野にわたります。訪れた人々は、触れることができる展示や実演を通じて、これらの技術の進歩を実感することができます。特に子供たちにとっては、学びながら楽しむ場として最適です。
                                <br>
                                また、科学技術館はその建物自体も一つのアートとして楽しむことができます。モダンで洗練された建築デザインが、訪れる者に先進性と未来志向を感じさせます。夜になるとライトアップされ、まるで未来の都市のような雰囲気が漂います。写真愛好家や建築ファンにとっても見逃せない場所です。
                                <br>
                                千代田区の科学技術館は、未来の技術に触れ、学び、楽しむ場として、幅広い層から支持を得ています。最先端の技術とアートが融合した空間で、訪れる人々は常に新しい刺激を受けながら、科学の面白さを再発見することができます。
                                </p>
                                <p><a href="https://www.jsf.or.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="19" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『荒川総合スポーツセンター』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'arakawa.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>身体障害者手帳の交付を受けている方、または介助する方。
                                愛の手帳の交付を受けている方、または介助する方。
                                精神障害者保健福祉手帳・被爆者健康手帳の交付を受けている方、または介助する方は、個人利用料が無料</p>
                                <p>荒川総合スポーツセンターは、スポーツ愛好者や健康志向の人々にとって魅力的な施設です。この施設は、豊富なスポーツ施設やプログラム、そして快適な環境が揃っており、多くの人々に愛されています。
                                <br>
                                まず第一に、荒川総合スポーツセンターは多彩なスポーツ施設を提供しています。屋内プールや体育館、テニスコート、野球場など、様々なスポーツを楽しむための設備が整っています。これにより、幅広い年齢層やスポーツのジャンルに対応し、地域の人々にとって理想的な場となっています。
                                <br>
                                また、荒川総合スポーツセンターでは、初心者から上級者までを対象にしたプログラムが充実しています。スポーツ教室やフィットネスクラスなど、プロの指導のもとでスポーツを楽しむことができます。これにより、新しいスポーツに挑戦したり、レベルアップを目指したりすることが可能となっています。
                                <br>
                                さらに、施設内は清潔かつ快適な環境が整っています。最新の設備や整備された施設は、利用者に安心感と快適さを提供しています。これにより、健康促進やストレス解消を求める人々にとって、理想的なスポーツ施設となっています。
                                </p>
                                <p><a href="https://www.arakawa-sposen.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="20" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『井の頭自然文化園』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag 'inokashira.jpg', size: '930x468' %></div>
                            <p>障害者手帳割に関して</p>
                            <p>身体障害者手帳、愛の手帳、療育手帳、精神障害者保健福祉手帳をお持ちの方と、その付添者（原則1名）は無料</p>
                            <p>井の頭自然文化園は、東京都三鷹市に広がる自然に満ちた公園で、その豊かな魅力には多くの要素があります。まず第一に挙げられるのは、広大な園内に広がる美しい自然環境です。都心に位置しながらも、木々に囲まれた静かな空間があり、四季折々の風景が訪れる人たちに癒しと安らぎを提供しています。
                            <br>
                            園内には様々な動物たちが生息しており、特にコアラやアフリカゾウ、ペンギンなど多彩な動物たちの展示があります。これらの生き物たちを見ることで、自然の不思議さや多様性を実感でき、特に子供たちにとっては生物学的な学び舎としての価値もあります。親子連れや学校の遠足など、様々な人々が訪れ、動物たちとふれあうことで新たな発見があるでしょう。
                            <br>
                            さらに、井の頭自然文化園では様々な季節ごとのイベントやワークショップが行われています。これにより、訪れる人々は自然に親しむだけでなく、季節ごとの楽しみや新しい知識を得ることができます。イベントやワークショップは幅広い年齢層に対応しており、自然愛好者だけでなく広い層に愛されています。
                            <br>
                            緑豊かな広場や散策路、多様な動植物とのふれあい、季節ごとの楽しいイベントなど、井の頭自然文化園は都会の中で自然と触れ合える貴重な場所となっています。ここで過ごすひとときは、日常の喧騒を忘れ、心身ともにリフレッシュできるでしょう。
                            </p>
                            <p><a href="https://www.tokyo-zoo.net/zoo/ino/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="21" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『江戸東京たてもの園』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag 'edo.jpg', size: '930x468' %></div>
                            <p>障害者手帳割に関して</p>
                            <p>身体障害者手帳・愛の手帳・療育手帳・精神障害保健福祉手帳・被爆者健康手帳をお持ちの方及びその付添いの方（2名まで）は無料</p>
                            <p>江戸東京たてもの園は、歴史と文化が融合した素晴らしいスポットです。この園は、江戸時代から昭和初期までの建築物を保存・展示することで、時代を超えた風景と雰囲気を再現しています。
                            <br>
                            まず、江戸東京たてもの園の最大の特徴は、園内に広がる歴史的な建造物です。江戸時代の町並みから、明治や大正時代の洋風建築まで、様々な時代の建物が再現・保存されています。これらの建物は、当時の生活や文化を知る一石となり、訪れる人々にタイムスリップしたような感覚を提供してくれます。
                            <br>
                            園内には伝統的な日本庭園も広がっており、四季折々の美しい風景を楽しむことができます。特に桜の季節になると、園内が満開の花で彩られ、訪れる人たちを感動させてくれます。これは日本の美しい風物詩を感じる絶好の場所といえるでしょう。
                            <br>
                            さらに、江戸東京たてもの園では様々なイベントや体験プログラムも開催されています。伝統的な工芸品づくりや着物の着付け体験、歴史解説ツアーなど、参加型のプログラムが多数用意されています。これにより、訪れた人たちは単なる観光だけでなく、実際に歴史や文化に触れ、学ぶことができるでしょう。
                            <br>
                            また、歩いて園内を散策するだけでなく、周辺エリアも歴史的なスポットが点在していますので、一日中楽しむことができます。
                            </p>
                            <p><a href="https://www.tatemonoen.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="22" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『小田原城』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'odawara.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>障害者手帳・療育手帳持参・提示で無料（付添1名含む）</p>        
                                <p>小田原城は、神奈川県小田原市に佇む日本の歴史と文化が息づく素晴らしい城です。戦国時代に北条氏康によって築かれ、その後、豊臣秀吉の攻勢に耐え抜き、徳川家康によって再建されました。城内には迫力ある石垣や櫓が立ち並び、本丸、二の丸、三の丸などのエリアからは見事な眺望が広がります。
                                <br>
                                小田原城は、その歴史的な背景から訪れる者に戦国時代や江戸時代の武士の面影を感じさせます。城内の構造や配置は、当時の戦略や築城技術の高さを物語っています。特に桜の季節には、城の周りが美しい桜で彩られ、春の風情を楽しむことができます。これは日本の伝統的な風物詩として、訪れる人々に感動的な体験を提供しています。
                                <br>
                                また、小田原城内には歴史資料館があり、豊富な展示物や解説が訪れる人々に歴史の教訓や知識を伝えています。模型や実物の展示を通じて、城の歴史や関連するエピソードがリアルに伝えられています。
                                <br>
                                総じて、小田原城はその壮大な建造物、歴史的な価値、美しい自然との調和が融合した場所として、訪れる者に深い感動をもたらしています。日本の歴史や文化に興味を抱く方にとっては、知的好奇心を刺激する魅力的な観光地です。
                                </p>
                                <p><a href="https://odawaracastle.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="23" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『東京サマーランド』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'summer.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>身体障害者手帳・愛の手帳・療育手帳・精神障害者保健福祉手帳をお持ちの方及び付添の方1名様まで割引料金</p>
                                <p>東京サマーランドは、日本有数の大規模アミューズメントパークであり、その魅力は多岐にわたります。
                                <br>
                                まず第一に挙げられるのは、季節を問わず楽しめる多彩なアトラクションです。夏には大規模なプールエリアで涼を取りながら楽しむことができ、冬には幻想的なイルミネーションが彩る風景が広がります。四季折々の楽しみがあり、いつ訪れても新しい発見が期待できます。
                                <br>
                                また、園内には家族連れから友達同士まで楽しめるアトラクションが豊富に揃っています。絶叫マシンや親子で楽しめるアトラクション、可愛らしいキャラクターショーなど、幅広い年齢層に対応したエンターテインメントが用意されています。これにより、様々な層の来場者が心地よい時間を過ごすことができます。
                                <br>
                                さらに、美味しい食事やお土産も魅力の一環です。レストランやカフェでは、地元の食材を活かしたメニューや、オリジナルのスイーツが楽しめます。こうした食のバリエーションも、来場者にとって一日中楽しむ要素となっています。
                                <br>
                                総じて、東京サマーランドは四季折々の楽しみや多彩なアトラクション、美味しい食事が共存する、訪れる人々に魅了される魅力的なエンターテインメントの場となっています。
                                </p>
                                <p><a href="https://www.summerland.co.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="24" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『東京スカイツリー』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'tree.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>障害者手帳をお持ちの方と同伴者の方（障がい者と同数まで）に、障がい者料金を適用</p>
                                <p>東京スカイツリーは、墨田区にそびえ立つ、世界で2番目に高い自立式電波塔です。その魅力は多岐にわたります。
                                <br>
                                まず第一に、その圧倒的な高さが挙げられます。634メートルの高さを誇り、周囲のビルや街並みを一望できる絶好の展望台となっています。特に夜景は美しく、都心の夜景や遠くに広がる山々まで一望できる素晴らしい景色が訪れる人々を魅了しています。
                                <br>
                                スカイツリーの2つの展望台、『天望デッキ』と『天望ギャラリー』は、それぞれ高さ350メートルと450メートルに位置しており、迫力満点のパノラマが楽しめます。特に『天望ギャラリー』からは、360度の眺望が楽しめ、東京湾や富士山まで見ることができます。
                                <br>
                                また、東京スカイツリー周辺にはショッピングモールやレストラン、エンターテインメント施設が集まり、訪れるだけでなく、一日中楽しむことができます。伝統的な和の文化や最新のトレンドが融合したお土産やグルメも充実しており、観光客にとっては魅力的なスポットです。
                                <br>
                                さらに、東京スカイツリーは日本の伝統と現代が調和した美しいデザインが特徴です。
                                <br>
                                その雄大な姿と多彩な魅力を存分に楽しんで、東京の新たなアイコンに触れてみてください。
                                </p>
                                <p><a href="https://www.tokyo-skytree.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="25" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『チームラボプラネッツ TOKYO DMM』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'teamlab.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>身体障害者手帳、療育手帳、精神障害者保健福祉手帳をお持ちのご本人及び同伴の方1名が入館料半額</p>
                                <p>チームラボプラネッツ TOKYO DMMは、未来を感じさせる斬新なアートエンターテインメント空間として、訪れる人々を魅了しています。この施設は、視覚と触覚を通じて参加者を没入させ、まるで別世界に迷い込んだような感覚を提供します。
                                <br>
                                チームラボプラネッツ TOKYO DMMの最大の魅力は、インタラクティブなアート作品が訪れる人々と対話するように展開されていることです。巨大なデジタルアート作品が壁や床を駆け巡り、来場者が身体を動かすことで、作品が反応して変化します。これにより、アートに参加することができ、観るだけでは味わえない没入感を実感できます。
                                <br>
                                施設内には、大人から子供まで楽しめるアート作品が満載であり、家族や友達との訪れる際にも心地よい時間を共有できます。さらに、デジタルアートという新しい形態のアートに触れることで、クリエイティビティを刺激されることも期待できます。
                                <br>
                                アートの美しさだけでなく、技術の進化を活かした新しいエンターテインメントの形態も魅力の一環です。未来的な要素が満載されたチームラボプラネッツ TOKYO DMMは、アート愛好者や未来志向の人々にとって、一度は訪れる価値がある施設と言えるでしょう。
                                </p>
                                <p><a href="https://www.teamlab.art/jp/e/planets/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="26" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『谷中銀座』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'yanakaginza.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>なし</p>
                                <p>谷中銀座は、昭和の雰囲気が残るレトロで風情ある商店街です。約180軒以上の個性的な店舗が軒を連ね、古き良き時代の面影を今に伝えています。
                                <br>
                                このエリアを歩くと、昔ながらの商店や居酒屋、喫茶店などがあり、その雰囲気に包まれることで、訪れた人々は時がゆっくりと流れているかのような心地よさを感じることでしょう。また、建物自体も昔ながらのものが残り、ノスタルジックな雰囲気が漂っています。
                                <br>
                                さらに、谷中銀座は伝統的な工芸品やアートが楽しめるエリアでもあります。多くの工芸店やアートギャラリーが点在し、手仕事の温かみやアーティストの独自性を感じることができます。伝統的な和の工芸品からモダンアートまで、幅広いジャンルが揃っており、訪れるたびに新たな発見が待っています。
                                <br>
                                飲食店も充実しており、地元の味覚を楽しむことができます。伝統的な日本料理から洋食まで様々なレストランやカフェがあり、地元の食材を使った美味しい料理が堪能できます。
                                <br>
                                谷中銀座は、都心の喧騒から離れてゆったりとした時間を楽しみたい人や、伝統と現代が融合したエリアを探求したい人にとって、魅力的な場所となっています。歩きながら昔ながらの風情を感じることができる、東京の隠れた名所の一つです。
                                </p>
                                <p><a href="https://www.yanakaginza.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="27" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『ジョイポリス』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'joy.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>入場券に関しては障がい者手帳をご提示のお客さまとその付き添いの方は無料(アトラクションは別途料金)</p>
                                <p>ジョイポリスは、日本が誇る屋内テーマパークで、その魅力は多岐にわたります。
                                <br>
                                まず、最先端の技術を活かした斬新なアトラクションが数多く用意されています。バーチャルリアリティ（VR）を駆使した没入感あふれる体験や、最新のシミュレーターによる臨場感溢れるアトラクションが、訪れる人々に驚きと興奮を提供しています。ゲームやアニメの世界に身を置く感覚はまさに一度体験すべき不思議な冒険です。
                                <br>
                                エンターテイメントにおいてもジョイポリスは一流。ライブショーではプロのダンサーやパフォーマーが魅せるスペクタクルな演技が、観客全体を引き込みます。家族や友達、カップルなど、幅広い層が楽しめるエンターテイメントがここにはあります。
                                <br>
                                食事やショッピングも見逃せません。レストランやカフェでは、美味しさだけでなくユニークな料理も楽しむことができ、お土産ショップではオリジナルのアイテムが手に入ります。こうした要素が、訪れた人たちにとって豊かな体験となります。
                                <br>
                                また、快適な滞在をサポートする設備も整っています。清潔かつ広々とした施設内は、家族や観光客にとってリラックスできる場所となっています。
                                <br>
                                ジョイポリスは、日本のテクノロジーとエンターテイメントが見事に融合した場所。夢と感動が交差するこのテーマパークで、新たな発見と楽しい思い出が待っています。
                                </p>
                                <p><a href="https://tokyo-joypolis.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="28" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『鉄道博物館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'tetudou.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>身体障害者手帳、精神障害者保健福祉手帳などをお持ちのご本人および介護者1名まで入館料金が割引</p>
                                <p>鉄道博物館は、鉄道ファンや歴史愛好者にとって夢のような場所です。この博物館は、日本の鉄道の歴史や進化を追いながら、数々の貴重な展示品や体験コーナーを通じて訪れる人々を魅了しています。
                                <br>
                                まず、博物館の最大の魅力は、豊富な展示品です。歴史的な車両や機関車が保存され、その進化や技術の変遷が分かるように展示されています。車両の中には、明治時代から現代までの様々な時代のものがあり、それぞれの時代背景や役割がわかるように解説されています。このような展示品は、鉄道の歴史への理解を深め、興味深い体験を提供してくれます。
                                <br>
                                さらに、鉄道模型やシミュレーターなどの体験コーナーも多く存在します。特に子供たちにとっては、実際に運転台に座り、列車を操縦するシミュレーションは非常に楽しい経験となることでしょう。これにより、鉄道の仕組みや運転に対する理解が深まります。
                                <br>
                                博物館内にはレストランやカフェもあり、訪れる人たちがゆっくりと休憩しながら鉄道の世界に浸ることができます。展示物を見学した後に、美味しい食事や軽食を楽しむことで、一日中鉄道の世界に没頭できるのも魅力の一つです。
                                <br>
                                また、博物館は定期的に特別展示やイベントを開催しており、季節ごとに異なるテーマで訪れる人たちを楽しませています。これにより、リピーターも多く、何度訪れても新しい発見や驚きがあるのが特徴です。
                                </p>
                                <p><a href="https://www.railway-museum.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="29" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『横浜にぎわい座』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'nigiwaiza.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>障害者手帳をお持ちの方及び同伴1名様まで割引額</p>
                                <p>横浜にぎわい座は、横浜市にあるエンターテインメント施設です。その歴史と伝統が感じられる建物は、横浜のランドマークの一つとして親しまれています。
                                <br>
                                横浜にぎわい座では、多彩なイベントが開催されており、そのプログラムは幅広い年齢層や興味を持つ人々に訴えかけます。演劇、コンサート、ダンスパフォーマンス、さらには伝統芸能やモダンアートなど、様々なジャンルのエンターテインメントが楽しめます。この多様性は、横浜にぎわい座が地域社会の中でどれだけ重要な存在であるかを物語っています。
                                <br>
                                また、横浜にぎわい座は新進気鋭のアーティストやクリエイターにとってもプラットフォームとなっています。地元の才能やアーティストがここで舞台に立ち、その芸術性を披露することで、地域文化の発展に寄与しています。このような場が存在することで、アートや文化が地域社会と密接に結びつき、新しい創造的なエネルギーが生まれています。
                                <br>
                                さらに、横浜にぎわい座の周辺には多彩な飲食店やショップが軒を連ね、訪れる人々に賑やかで楽しいひと時を提供しています。エンターテインメントを楽しんだ後に、美味しい食事やショッピングを楽しむことができるため、訪れる人たちは一日中充実した時間を過ごすことができます。
                                </p>
                                <p><a href="https://nigiwaiza.yafjp.org/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="30" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『中華街と氷川丸』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'chuuka.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>氷川丸に関しては障害者を対象とした手帳および特定疾患医療受給者証ご呈示の方は無料（介護者1名を含む）</p>
                                <p>横浜の中華街と日本郵船の氷川丸は、異なる雰囲気と魅力を持つ観光スポットです。
                                <br>
                                まず、中華街ではアジアの伝統と現代が交錯する魅力が広がっています。カラフルな提灯が風に揺れ、香り高い中華料理の誘惑が街全体に広がります。店先ではショーウィンドウに美しく並ぶ点心や餃子が目を引き、食べ歩きが楽しみの一つです。異国情緒漂う中で、様々な文化に触れ、美味しい料理を楽しむことができます。
                                <br>
                                中華街で十分に楽しんだ後、横浜港に面した場所に広がる氷川丸も中華街近くにあり乗船体験が可能です。
                                <br>
                                氷川丸は日本郵船がかつて所有していた豪華客船で、その船内には当時の優雅な雰囲気が残されています。船内では、船旅の歴史や日本郵船の船員たちの生活に触れることができ、まるでタイムトリップしたような気分に浸ることができます。
                                <br>
                                氷川丸からは、横浜港の壮大な景色が広がります。シンボルタワーやランドマークタワー、そして遠くには富士山まで見渡せ、その光景は息をのむ美しさです。船から眺める風景は、中華街での賑やかさとは対照的で、静寂で優雅なひと時を味わうことができます。
                                <br>
                                横浜の中華街と氷川丸は、異なる顔を持ちながらも、共に訪れる人々に充実感と感動をもたらしてくれる場所です。この二つの魅力的なエリアを一日で満喫することは、思い出に残る素晴らしい冒険となることでしょう。
                                </p>
                                <p><a href="https://www.chinatown.or.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="31" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『よみうりランド』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'yomiuri.jpg', size: '930x468' %></div>
                                <p>障害者手帳割に関して</p>
                                <p>障害者手帳をお持ちの方及び同伴1名様(中学生以上)まで割引額</p>
                                <p>よみうりランドは、東京都稲城市に位置する日本を代表するテーマパークの一つで、その魅力は多岐にわたります。まず、豊富なアトラクションがあり、全ての年齢層が楽しむことができる点が挙げられます。絶叫系のジェットコースターや親子で楽しむことのできるキャラクターアトラクションなど、バラエティ豊かなラインナップが遊び手を魅了します。
                                <br>
                                また、よみうりランドは四季折々のイベントやデコレーションが楽しめるため、訪れるたびに新たな楽しみが待っています。春は花々が咲き誇り、夏にはウォーターアトラクションで涼み、秋には紅葉が彩りを添え、冬にはイルミネーションが美しい雰囲気を醸し出します。季節ごとに異なる表情を見せるよみうりランドは、訪れるたびに新たな驚きと感動をもたらしてくれます。
                                <br>
                                食事やショッピングも充実しており、テーマパーク内のレストランやカフェで美味しい料理を楽しむことができる他、様々なキャラクターグッズやオリジナル商品が揃うショップもあります。家族や友達と一緒に思い出に残る時間を過ごすことができ、笑顔と楽しさが溢れる場所となっています。
                                <br>
                                緑に囲まれた広大な敷地と多彩なアトラクション、季節ごとの楽しみや美味しい食事が共存するよみうりランドは、日常の喧騒を忘れ、心地よいひとときを過ごす場所として多くの人に愛されています。
                                </p>
                                <p><a href="https://www.yomiuriland.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        
        
        
                </article>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        $(function(){
           $('a[href^=#]').click(function() {
              var speed = 600;
              var href= $(this).attr("href");
              var target = $(href == "#" || href == "" ? 'html' : href);
              var position = target.offset().top;
              $('body,html').animate({scrollTop:position}, speed, 'swing');
              return false;
           });
        });
        $(function(){
            h = $(window).height();
            h = h-30;
            $(".question").css("min-height", h + "px");
            $(".answerList .box").css("min-height", h + "px");
            
        });
        function show(idName){ 
            $("#" + idName).show();
        }
        
        </script>
        
        
</body>
</html>
