<div id="wrapper">
           <div class="sense">
                <article id="pageBody">
        
                    <div class="point_box">
                    <div class="box">
                    <div class="txt">
                    <p>下記の質問に答えてみてください。あなたにぴったりの場所がわかります!</p>
                    </div>
                    </div>
                    </div>
        
        
                    <ul class="qalist wf-mplus1p">
        
                    <li id="1" class="question">
                        <a name="#1"></a>
                        <div class="qbox"><span  class="q">Q.</span>施設費用などの遊ぶ費用は1000円以内がいいですか?(交通費除く)</div>
                        <div class="qabox">
                            <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">はい</div></a>
                            <a href="#3" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">いいえ</div></a>
                        </div>
                    </li>
                    <li id="2" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>どんな場所で遊びたいですか?</div>
                        <div class="qabox">
                            <a href="#4" onclick="show(4)" class="qabtn"><div class="btnBox btnBox_y">23区内で</div></a>
                            <a href="#5" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_n">23区外で</div></a>
                        </div>
                    </li>
                    <li id="3" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>どんな場所で遊びたいですか?</div>
                        <div class="qabox">
                            <a href="#6" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_y">23区内で</div></a>
                            <a href="#7" onclick="show(7)" class="qabtn"><div class="btnBox btnBox_n">23区外で</div></a>
                        </div>
                    </li>

                    <li id="4" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#8" onclick="show(8)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#9" onclick="show(9)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="5" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#10" onclick="show(10)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#11" onclick="show(11)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="6" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#12" onclick="show(12)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#13" onclick="show(13)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="7" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>移動距離は短い方がいいですか?</div>
                    <div class="qabox">
                        <a href="#14" onclick="show(14)" class="qabtn"><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#15" onclick="show(15)" class="qabtn"><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>

                    <li id="8" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#16" onclick="show(16)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#17" onclick="show(17)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="9" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#18" onclick="show(18)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#19" onclick="show(19)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="10" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#20" onclick="show(20)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#21" onclick="show(21)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="11" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#22" onclick="show(22)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#23" onclick="show(23)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="12" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#24" onclick="show(24)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#25" onclick="show(25)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="13" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#26" onclick="show(26)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#27" onclick="show(27)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="14" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#28" onclick="show(28)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#29" onclick="show(29)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>
                    <li id="15" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>どんな気分で遊びたいですか?</div>
                    <div class="qabox">
                        <a href="#30" onclick="show(30)" class="qabtn"><div class="btnBox btnBox_y">ゆっくり</div></a>
                        <a href="#31" onclick="show(31)" class="qabtn"><div class="btnBox btnBox_n">ワクワク</div></a>
                    </div>
                    </li>

                    </ul>
        
                    <div class="answerList">
        
                        
                        </div><div id="16" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『国立科学博物館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img1">
                                <%= image_tag 'hakubutukan.jpg', size: '900x468' %></div>
                                <p>障害者手帳割</p>
                                <p>・個人※障害者の方、原子爆弾被爆者の方、戦傷病者の方及びそれらの方々１名につき、介護者1名は無料となります。入館の際に下記のいずれかの証明書(*1)をご提示ください。
                                (*1)証明書・・・身体障害者手帳・療育手帳・精神障害者保健福祉手帳（障害者手帳アプリ可）、障害者福祉サービス受給者証、自立支援医療受給者証、通所（入所）受給者証、特定医療費（指定難病）受給者証、被爆者手帳、戦傷病者手帳</p>
                                <p>・団体※特別支援学校、障害者福祉施設等の団体入館につきましては、入館料免除の制度がありますのでお問合せください。</p>
                                <p>上野に位置する国立博物館は、日本の歴史や文化を豊富に展示する素晴らしい場所です。博物館は日本の最も重要な歴史的遺産の一つであり、その魅力は多岐にわたります。
                                <br>
                                日本の歴史や美術、考古学に関する膨大なコレクションを保有しており、展示は定期的に入れ替わるため、訪れるたびに新しい発見があります。古代から現代にかけての展示品は、日本の多様性や変遷を垣間見ることができ、見学者に深い感動を与えてくれます。
                                <br>
                                博物館の建物自体も美しく、歴史的な雰囲気を醸し出しています。伝統的な日本建築の要素が調和し、建物内部にはモダンな展示スペースが配置されています。訪れる人々は、日本の伝統と現代の融合を感じながら歩くことができます。
                                <br>
                                また、上野の美しい公園に囲まれているため、博物館周辺も散策する価値があります。特に桜の季節には、公園内で花見を楽しむことができ、博物館と自然の調和が素晴らしい雰囲気を醸し出します。
                                <br>
                                国立博物館は教育的なプログラムやイベントも充実しており、家族連れや学生、歴史や文化に興味を持つ全ての人々にとって魅力的な場所となっています。歴史の奥深さや日本の文化に触れる機会を求める方にとって、国立博物館は訪れる価値がある場所の一つです。</p>
                                <p><a href="https://www.kahaku.go.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="17" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『品川水族館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img2">
                                <%= image_tag 'sinagawa.jpg', size: '900x468' %></div>
                                <p>説明文「タイトル」</p>
        <p>詳細を記載</p>
        <p>詳細を記載</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.aquarium.gr.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="18" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『科学技術館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'kagakukan.jpg' %></div>
                                <p>説明文「タイトル」</p>
        <p>詳細を記載</p>
        <p>詳細を記載</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.jsf.or.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="19" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『荒川総合スポーツセンター』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'arakawa.jpg' %></div>
                                <p>説明文「タイトル」</p>
        <p>詳細を記載</p>
        <p>詳細を記載</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.arakawa-sposen.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="20" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『井の頭自然文化園』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag 'inokashira.jpg' %></div>
                            <p>説明会文「タイトル」</p>
    <p>詳細を記載</p>
                            <p><a href="https://www.tokyo-zoo.net/zoo/ino/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                        <div id="21" style="display:none;" class="answer point_box">
                        <div class="box">
                            <div class="title">
                            <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『江戸東京たてもの園』</span></span>です！</p>
                            </div>
                        <div class="txt">
                            <div class="img">
                            <%= image_tag 'edo.jpg' %></div>
                            <p>説明会文「タイトル」</p>
    <p>詳細を記載</p>
                            <p><a href="https://www.tatemonoen.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="22" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『小田原城』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'odawara.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://odawaracastle.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="23" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『東京サマーランド』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'summer.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.summerland.co.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="24" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『東京スカイツリー』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img6">
                                <%= image_tag 'tree.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.tokyo-skytree.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="25" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『チームラボプラネッツ TOKYO DMM』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag '' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.teamlab.art/jp/e/planets/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="26" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『谷中銀座』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'yanakaginza.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.yanakaginza.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="27" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『ジョイポリス』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'joy.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://tokyo-joypolis.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="28" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『鉄道博物館』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'tetudou.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.railway-museum.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="29" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『横浜にぎわい座』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'nigiwaiza.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://nigiwaiza.yafjp.org/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="30" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『中華街、氷川丸』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'chuuka.jpg' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.chinatown.or.jp/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        </div>
                            <div id="31" style="display:none;" class="answer point_box">
                            <div class="box">
                                <div class="title">
                                <p>あなたに勧める遊び場所は<span class="fs-18"><span class="bg-y">『よみうりランド』</span></span>です！</p>
                                </div>
                            <div class="txt">
                                <div class="img">
                                <%= image_tag 'yomiuri.jpg', size: '900x468' %></div>
                                <p>説明会文「タイトル」</p>
        <p>詳細を記載</p>
                                <p><a href="https://www.yomiuriland.com/" class="square_btn">もっと詳しくみる</a></p>
                            </div>
                            </div>
                        
        
        
                </article>
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        
        <script type="text/javascript">
        $(function(){
           $('a[href^=#]').click(function() {
              var speed = 600;
              var href= $(this).attr("href");
              var target = $(href == "#" || href == "" ? 'html' : href);
              var position = target.offset().top;
              $('body,html').animate({scrollTop:position}, speed, 'swing');
              return false;
           });
        });
        $(function(){
            h = $(window).height();
            h = h-30;
            $(".question").css("min-height", h + "px");
            $(".answerList .box").css("min-height", h + "px");
            
        });
        function show(idName){ 
            $("#" + idName).show();
        }
        
        </script>
        
        
</body>
</html>
