<div class="profile">
profile
</div>
<div class="c-container">
  <div class="pro-container">
  <div class="proname">
  <p>名前 : <%= @user.name %></p>
  </div>
  <br>
  <div class="proem">
  <p>メールアドレス : <%= @user.email %></p>
  </div>
  <br>
  <div class="prouse">
  <p>一言コメント : <%= @user.profile %></p>
  </div>
  <br>
  <div class="prohen">
  <% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
  <% end %>
  </div>
  <br>
  </div>
  <div class=character>
  <%= image_tag 'yukidaruma.jpg', size: '200x200' %>
  </div>
</div>


<div class="kuuhaku">
</div>


<div class="pro1-container">
<div class="prou-container">
<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
  <%= image_tag t.image_url, size: "250x200" if t.image? %>
  <br>
  <%= t.user.name %>
  <br>
  <%= t.address %>
  <br>
  <%= t.price %>
  <br>
  <%= t.about %>
  <br>
  <br>
  <br>
  <br>
<% end %>
</div>

<div class="vertical-line"></div>
<!-- 以下はいいね機能を実装している場合-->
<div class="proiine-container">
<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_posts.each do |t| %>
  <P><%= image_tag t.image_url, size: "250x200" if t.image? %></P>
  <P><%= t.user.name %></P>
  <P><%= t.address %></P>
  <P><%= t.price %></P>
  <P><%= t.about %></P>
<% end %>
</div>
</div>
</br>
<%= link_to "一覧に戻る", posts_path %>