<h1>プロフィール</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>一言コメント : <%= @user.profile %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
  <P><%= t.user.name %></P>
  <P><%= t.address %></P>
  <P><%= t.price %></P>
  <P><%= t.about %></P>
  <P><%= image_tag t.image_url, size: "250x200" if t.image? %></P>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_posts.each do |t| %>
  <P><%= t.user.name %></P>
  <P><%= t.address %></P>
  <P><%= t.price %></P>
  <P><%= t.about %></P>
  <P><%= image_tag t.image_url, size: "250x200" if t.image? %></P>
<% end %>
<!-- ここまで-->
</br>
<%= link_to "一覧に戻る", posts_path %>