<html>
<head>
  <title>みんなの投稿一覧</title>
  <%= stylesheet_link_tag 'posts.ran' %> <!-- posts.ran.scss ファイルを読み込む -->
</head>
<body class="ran">

  <h1>みんなの投稿一覧</h1>
  <div class="ichiran1-container">
    <% @posts.each do |t| %>
      <div class="ichiran2-contain">
      <P> <%= image_tag t.image_url, size: "250x200" if t.image? %></P>
          <P><%= t.name %></P>
          <P><%= t.address %></P>
          <P><%= t.price %></P>
          <%= link_to "削除する", post_path(t.id), method: :delete %>
          <P> <%= link_to "詳細へ", post_path(t.id) %>  </P>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
            <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
              <p>いいねを取り消す</p><%= t.likes.count %>
            <% end %>
          <% else %>
            <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
              <p>いいね</p><%= t.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <p>いいねの数 = </p><%= t.likes.count %>
        <% end %>
        </div>
      <% end %>
 
  </div>